<div class="ase-app-container">
    <!-- Tabs -->
    <nav class="ase-main-tabs">
        <div class="ase-tab {{#if (eq activeTab 'mixer')}}active{{/if}}" data-tab="mixer" data-action="tab-switch">
            Mixer
        </div>
        <div class="ase-tab {{#if (eq activeTab 'library')}}active{{/if}}" data-tab="library" data-action="tab-switch">
            Local Library
        </div>
        <div class="ase-tab ase-disabled" disabled>
            Online Library (coming soon)
        </div>
        <div class="ase-tab {{#if (eq activeTab 'sfx')}}active{{/if}}" data-tab="sfx" data-action="tab-switch">
            Sound Effects
        </div>
    </nav>

    <!-- Main Workspace Injection -->
    <div class="ase-main-content">
        {{{tabContent}}}
    </div>

    <!-- Footer (Universal Mixer) -->
    <footer class="ase-mixer-footer">

        <!-- SFX Group -->
        <div class="ase-mixer-group">
            <div class="ase-mixer-top">
                <div
                    class="ase-status-light {{#if status.sfx.playing}}active-green{{else if status.sfx.paused}}active{{/if}}">
                </div>
                <div class="ase-mixer-controls">
                    <i class="fa-solid fa-bolt"></i> SFX
                </div>
            </div>
            <div class="ase-slider-wrapper">
                <input type="range" class="ase-volume-slider" data-channel="sfx" min="0" max="100"
                    value="{{volumes.sfx}}">
                <span class="ase-percentage">{{volumes.sfx}}%</span>
            </div>
        </div>

        <!-- Ambience Group -->
        <div class="ase-mixer-group">
            <div class="ase-mixer-top">
                <div
                    class="ase-status-light {{#if status.ambience.playing}}active-green{{else if status.ambience.paused}}active{{/if}}">
                </div>
                <div class="ase-mixer-controls">
                    <i class="fa-solid fa-bell"></i> AMBIENCE
                </div>
            </div>
            <div class="ase-slider-wrapper">
                <input type="range" class="ase-volume-slider" data-channel="ambience" min="0" max="100"
                    value="{{volumes.ambience}}">
                <span class="ase-percentage">{{volumes.ambience}}%</span>
            </div>
        </div>

        <!-- Music Group -->
        <div class="ase-mixer-group">
            <div class="ase-mixer-top">
                <div
                    class="ase-status-light {{#if status.music.playing}}active-green{{else if status.music.paused}}active{{/if}}">
                </div>
                <div class="ase-mixer-controls">
                    <i class="fa-solid fa-music"></i> MUSIC
                </div>
            </div>
            <div class="ase-slider-wrapper">
                <input type="range" class="ase-volume-slider" data-channel="music" min="0" max="100"
                    value="{{volumes.music}}">
                <span class="ase-percentage">{{volumes.music}}%</span>
            </div>
        </div>

        <div class="ase-master-group">
            <!-- Master Row -->
            <div class="ase-master-row">
                <div class="ase-master-label"><i class="fa-solid fa-volume-high"></i> MASTER</div>
                <input type="range" class="ase-volume-slider ase-master-slider" data-type="master" min="0" max="100"
                    value="{{volumes.master}}">
                <div class="ase-percentage ase-master-perc">{{volumes.master}}%</div>
            </div>

            <!-- Local Row -->
            <div class="ase-master-row local-row">
                <div class="ase-master-label"><i class="fa-solid fa-headphones"></i> LOCAL</div>
                <input type="range" class="ase-volume-slider ase-master-slider" data-type="local" min="0" max="100"
                    value="{{volumes.local}}">
                <div class="ase-percentage ase-local-perc ase-master-perc">{{volumes.local}}%</div>
            </div>
        </div>

        <!-- Global Controls -->
        <div class="ase-global-controls">
            <div class="ase-sync-wrapper" data-action="toggle-sync" title="Toggle Sync">
                <div class="ase-sync-light {{#if syncEnabled}}active{{/if}}"></div>
                <span class="ase-sync-label">SYNC {{#if syncEnabled}}ON{{else}}OFF{{/if}}</span>
            </div>
            <div class="ase-big-buttons">
                <i class="fa-solid fa-play" data-action="global-play" title="Resume All"></i>
                <i class="fa-solid fa-pause" data-action="global-pause" title="Pause All"></i>
                <i class="fa-solid fa-stop" data-action="global-stop" title="Stop All"></i>
            </div>
        </div>

    </footer>
    <div class="ase-bottom-bar-info">
        <a class="ase-creator-link" href="https://boosty.to/frieddend" target="_blank" rel="noopener noreferrer">
            FriedDenD © Sound Engine Master v{{moduleVersion}}
        </a>
        <span class="ase-ml-auto"><!-- Track count placeholder --></span>
    </div>
</div>